*.ipynb
__pycache__/
*.png
classical_advection.py 
classical_burgers.py
results/

# Ignore
data/processed_data/.backup
models/
scripts/
.vs/
.venv/
src/.ipynb_checkpoints
src/notebooks
.idea/
.gitignore
